@model IEnumerable<SmartTransit.Models.Delivery>

@{
    ViewBag.Title = "Deliveries";
}

<h3>Deliveries</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tracking No
        </th>
        <th>
            Client Name
        </th>

        <th>
            Date
        </th>
        <th>
            Type
        </th>
        <th>
            Collection Point
        </th>
        <th>
            Status
        </th>
        <th>
            Deliver To
        </th>
        <th>
            Driver Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryID)
                
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName) 
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PickUpLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DeliverTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Driver.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DeliveryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DeliveryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DeliveryID })}) |
                @Html.ActionLink("History", "LogHistory", new { id = item.DeliveryID })
            </td>
        </tr>
    }

</table>
